.offices{
    padding: var(--padding-section);
}
.offices-container{
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: auto;
    color: var(--text-color);
}
.offices__title{
    text-align: center;
    font-weight: 700;
    margin: 0 0 2rem;
    text-shadow: 0 0 0.125rem var(--shadow-color-primary),
    0 0 0.5rem var(--shadow-color-primary);
}
.offices__offices-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 20px var(--box-shadow-color);
    overflow: hidden;
    padding: 2rem;
}
.offices__offices-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    list-style: disc;
}
.offices__offices-item{
    font-size: 1rem;
}
.offices__offices-map-container{
    width: 100%;
    height: 300px;
    transition: var(--all-transitions);
}
.offices__offices-map-container:hover{
    box-shadow: 0 0 0 0.125rem var(--shadow-color-primary),
                0 0 0 0.25rem var(--shadow-color-primary);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.offices__offices-map{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}
@media(min-width:854px){
    .offices__offices-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .offices__title{
        text-align: left;
    }
    .offices__offices-map-container{
        width: 100%;
        height: 300px;
    }
    .offices__offices-list{
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .offices__offices-item{
        font-size: 1.125rem;
    }
}