:root{
    --shadow-color-primary:  #62ccfb;
    --background-color-primary: #e1e2e7;
    --background-color-secondary: #fff;
    --text-color: #000;
    --primary-shadow-color: #2228;
    --secondary-shadow-color: #fff000;
    --button-color-primary: #02b7ff;
    --max-width-container: 1200px;
    --padding-section: 5rem 0 0;
    --padding-container: 0 2em;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
    
}
.specialties{
    padding: var(--padding-section);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.specialties-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
    box-sizing: border-box;
}
.specialties__title{
    text-align: center;
    font-weight: 700;
    text-shadow: 0 0 0.125rem var(--shadow-color-primary),
    0 0 0.5rem var(--shadow-color-primary);
    color: var(--text-color);
}
.speacialties__specialties-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.specialties__specialties-item {
    position: relative;
    border-radius: 10px;
}

.specialties__item-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 1;
}
.specialties__item-image{
    width: 100%;
    height: 100%;
}

.specialties-container .specialties__specialties-item .face {
    max-width: 100%;
    height: 200px;
    transition: 0.5s;
}

.specialties-container .specialties__specialties-item .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: 4px 4px 0 solid var(--shadow-color-primary);
    border-bottom: none;
    overflow: hidden;
    max-width: 356px;
    max-height: 200px;
    cursor: pointer;
    transform: translateY(100px);
}

.specialties__specialties-item:hover .face.face1{
    transform: translateY(0px);
}

.specialties__specialties-item .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.specialties__specialties-item:hover .face.face1 .content {
    opacity: 1;
}

.specialties__specialties-item .face.face2 {
    position: relative;
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 356px;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 20px var(--box-shadow-color);
    transform: translateY(-100px);
}

.specialties__specialties-item:hover .face.face2{
    transform: translateY(0);
}

.specialties__specialties-item .face.face2 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.specialties__item-data-about {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
    color: var(--text-color);
}

.specialties__item-data-title{
    text-shadow: 0 0 0.125rem var(--shadow-color-primary),
    0 0 0.5rem var(--shadow-color-primary);
    margin: 0;
    color: var(--text-color);
} 
.specialties__item-button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.specialties__item-button{
    font-weight: 600;
    background-color: var(--button-color-primary);
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 0.5em 0.8em;
    color: black;
    text-decoration: none;
    transition: var(--all-transitions);
}
.specialties__item-button:hover{
    background-color: var(--secondary-shadow-color);
    border: 2px solid var(--text-color);
    color: black;
}
.specialties-container a {
    text-decoration: none;
    color: #414141;
}
@media(min-width:854px){
    .specialties__title{
        text-align: left;
    }
    .speacialties__specialties-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .specialties__item-data-about {
        font-size: 0.9rem;
    }
    .specialties__item-button-container{  
        gap: 1rem;
    }

}